<section>
    <div class="container">
        <div class="row">
            <div class="row-flex">
            {% for post in site.posts %}
            
            <div class="col-6 blog-post moreBox" style="display: none;">
            <a href="{{ site.url }}{{ site.baseurl }}/{{ post.url | prepend: site.baseurl }}">
                <div class="blog-post-inner">
                    <div class="blog-img">
                        <img src="{{ site.url }}{{ site.baseurl }}/{{ post.thumbnail }}" alt="{{ post.title}} image"/>
                    </div>
                <h3 class="post-link">{{ post.title }}</h3>
                <p class="meta">{{ post.date | date: "%B %-d, %Y" }}   |   {{ post.author }}</p>
                <div class="excerpt">
                    {{ post.content | strip_html | truncate: "160" }}
                </div>
                </div>
                </a>
            </div>
            {% endfor %}
<!--
            <div class="items-center">
                <a href="#" id="loadMore"><button class="btn flat items-center" type="button"><span>Load more</span></button></a>
            </div>
-->
        </div>
    </div>
    </div>
</section>


<script>
$( document ).ready(function () {
		$(".moreBox").slice(0, 6).show();
		if ($(".blog-post:hidden").length != 0) {
			$("#loadMore").show();
		}		
		$("#loadMore").on('click', function (e) {
			e.preventDefault();
			$(".moreBox:hidden").slice(0, 6).slideDown();
			if ($(".moreBox:hidden").length == 0) {
				$("#loadMore").fadeOut('slow');
			}
		});
	});
</script>
