{% if site.theme_settings.footer_text %}

<footer>
    <div class="row">
        <div class="col-12">
            <div class="footer-icons text-center">
                <p><a href="mailto:hello@edstennett.com?Subject=Hello%20Ed!" title="hello@edstennett.com">hello@edstennett.com</a>      |      <a href="https://twitter.com/{{ site.theme_settings.twitter }}" title="{{ site.theme_settings.str_follow_on }} Twitter">twitter</a>      |      <a href="{{ site.theme_settings.linkedin }}" title="{{ site.theme_settings.str_follow_on }} LinkedIn">linkedin</a>
                </p>
            </div>
        </div>
    </div>
    <p class="footer-text-caption">{{ site.theme_settings.footer_text }} {% assign thisyear = site.time | date: "%Y" %} {% if site.first_published %} {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %} {% if diff contains '-' %}{{ site.first_published }},{% endif %} {% endif %} {{ thisyear }} {% if site.owner %}{{ site.owner }}{% else %}{% endif %}.</p>
</footer>
{% endif %}