<header class="site-header">
	<div class="row">
		<a href="{{ site.url }}{{ site.baseurl }}/">
			<img class="avatar img-fluid" src="{{ site.url }}{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt="Tusk logo"/>
		</a>
        <!-- Menu -->
        <nav class="clear">
            <ul>
                <li><a href="https://tusktasks.io/" rel="noopener" target="_blank" >Back to Tusk</a></li>
            </ul>
	    </nav>
	</div>
    <div class="site-header__caption row">
        <h1 class="site-header__caption-heading">Welcome to the Tusk blog.</h1>
    </div>
</header>