.footer-btn {
    margin-left: 0;
    margin-top: 2.5em;
}



.footer-icons {
    ul {
        list-style: none;
        margin-left: -10px;
        margin-top: -5px;
        display: inline-flex;
        li {
            display: inline;
            font-size: 0.8em;
        }
    }
}

.footer-icon {
    display: block;
    margin-top: -10px;
}

.footer-text-caption {
    font-size: 0.6em;
    text-align: center;
    padding-bottom: 20px;
}

.footer-item {
    font-size: 0.6em;
    display: block;
    margin-bottom: 0.4em;
}

.footer-link-container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.footer-link-container-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0em;
}

.footer-link-container-list-item {
    padding: 1em;
    font-size: 0.8em;
}