.site-header {
    padding: $padding-x-x-small $padding-x-small;
    padding-top: $padding-x-x-small;
    background: $white;
    display: inline-block;
    width: 100%;
    height: 70vh;
    background-image: url($baseurl +  "/assets/img/tusk-blog-hero.jpg");
    background-position: 50% 25%;
    background-size: cover;

    a {
        color: $body-primary;
    }

    .avatar {
        width: 6em;
        float: left;
        padding: 20px 10px;
        object-fit: cover;
    }

    .site-title {
        float: left;
        font-weight: bold;
        font-size: 1em;
        line-height: 1.5;
    }

    nav {
        list-style: none;
        margin: 0;
        padding: 0;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 2.5;
            float: right;
            text-align: right;
            font-size: 0.8em;
            font-weight: 700;
            padding-top: 10px;
        }
        li {
            display: inline;
            float: left;
            margin-right: 2em;
        }
        a {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:hover {
                color: $background-secondary;
                transition: color 0.5s ease-in-out;
            }
            &#pull {
                p {
                    margin-top: 13px;
                    float: right;
                    color: $fivehundred;
                    font-weight: 700;
                }

            }

        }
    }
}

.site-header__caption {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  height: 60%;
}

.site-header__caption-heading {
  color: $white;
  font-weight: 900;
  font-family: 'Neuzeit Grotesk';
  font-size: 48px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

// To clear things when we float the element inisde nav and ul 
.clear {
    *zoom: 1;

    &:after {
        clear: both;
    }

    &:before,
    &:after {
        content: " ";
        display: table;
    }
}

.site-header-alt {
    padding: $padding-x-x-small $padding-x-small;
    padding-top: $padding-x-x-small;
    background: $white;
    display: inline-block;
    width: 100%;
    height: 96px; 

    a {
        color: $body-primary;
    }

    .avatar {
        width: 6em;
        float: left;
        padding: 20px 10px;
        object-fit: cover;
    }

    .site-title {
        float: left;
        font-weight: bold;
        font-size: 1em;
        line-height: 1.5;
    }

    nav {
        list-style: none;
        margin: 0;
        padding: 0;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 2.5;
            float: right;
            text-align: right;
            font-size: 0.8em;
            font-weight: 700;
            padding-top: 10px;
            @media (max-width: 840px) {
                font-size: 0.6em;
            }
            @media (max-width: $break) {
                font-size: 0.8em;
            }

        }
        li {
            display: inline;
            float: left;
            margin-right: 2em;
        }
        a {
            color: $fivehundred;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:hover {
                color: $background-secondary;
                transition: color 0.5s ease-in-out;
            }
            &#pull {
                p {
                    margin-top: 13px;
                    float: right;
                    color: $fivehundred;
                    font-weight: 700;
                }

            }

        }
    }
}