// CSS for pages across the site


.about-banner {
    height: 60vh;
    width: 100%;
    animation: pulse 1s infinite alternate;
}

.about-banner-image {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    color: transparent;
}

.about-image-position {
    margin-top: 2em;
    @media only screen and (max-width: 1000px) {
        margin-top: 0;
    }
}

.product-capture-image {
    margin-bottom: -1em;
    z-index: 1;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    @media only screen and (max-width: 800px) {
        width: 100%;
    }
}

.product-capture-position {
    margin-bottom: -0.2em !important;
}

.product-studio-image {
    z-index: 2;
}

//Contact

.contact-link {
    font-size: 0.8em;
}

// People

.left-img {
    padding-top: 100px;
    @media only screen and (max-width: 45em) {
        padding-top: 0;
    }
}

.img-block {
    padding: 0;
}

//SVG animations

// Visual design

@keyframes scribble {
  0%   {opacity: 0}
  40%   {opacity: 1}
  60%   {opacity: 1}
  100% {opacity: 0}
}

.scribble {
  animation: scribble 8s ease-in-out infinite;
}

// UI design

@keyframes top-navigation {
  0%   {opacity: 0}
  25%   {opacity: 1}
  100% {opacity: 1}
}

.top-navigation {
  animation: top-navigation 8s ease-in-out infinite;
}

@keyframes screen-bg {
  0%   {opacity: 0}
  25%   {opacity: 0}
  50%   {opacity: 1}
  100% {opacity: 1}
}

.screen-bg {
  animation: screen-bg 8s ease-in-out infinite;
}

@keyframes screen-items {
  0%   {opacity: 0}
  50%  {opacity: 0}
  60%  {opacity: 1}
  100% {opacity: 1}
}

.screen-items {
  animation: screen-items 8s ease-in-out infinite;
}

@keyframes line-1 {
  0%   {opacity: 0}
  9%   {opacity: 1}
  100% {opacity: 1}
}

.line-1 {
  animation: line-1 3s ease-in-out infinite;
}

@keyframes line-2 {
  0%   {opacity: 0}
  9%   {opacity: 0}
  18%   {opacity: 1}
  100% {opacity: 1}
}

.line-2 {
  animation: line-2 3s ease-in-out infinite;
}

@keyframes line-3 {
  0%   {opacity: 0}
  18%   {opacity: 0}
  27%   {opacity: 1}
  100% {opacity: 1}
}

.line-3 {
  animation: line-3 3s ease-in-out infinite;
}

@keyframes line-4 {
  0%   {opacity: 0}
  27%   {opacity: 0}
  36%   {opacity: 1}
  100% {opacity: 1}
}

.line-4 {
  animation: line-4 3s ease-in-out infinite;
}

@keyframes line-5 {
  0%   {opacity: 0}
  36%   {opacity: 0}
  45%   {opacity: 1}
  100% {opacity: 1}
}

.line-5 {
  animation: line-5 3s ease-in-out infinite;
}

@keyframes line-6 {
  0%   {opacity: 0}
  45%   {opacity: 0}
  54%   {opacity: 1}
  100% {opacity: 1}
}

.line-6 {
  animation: line-6 3s ease-in-out infinite;
}

@keyframes line-7 {
  0%   {opacity: 0}
  54%   {opacity: 0}
  63%   {opacity: 1}
  100% {opacity: 1}
}

.line-7 {
  animation: line-7 3s ease-in-out infinite;
}

@keyframes line-8 {
  0%   {opacity: 0}
  63%   {opacity: 0}
  72%   {opacity: 1}
  100% {opacity: 1}
}

.line-8 {
  animation: line-8 3s ease-in-out infinite;
}

@keyframes line-9 {
  0%   {opacity: 0}
  72%   {opacity: 0}
  81%   {opacity: 1}
  100% {opacity: 1}
}

.line-9 {
  animation: line-9 3s ease-in-out infinite;
}

@keyframes line-10 {
  0%   {opacity: 0}
  81%   {opacity: 0}
  90%   {opacity: 1}
  100% {opacity: 1}
}

.line-10 {
  animation: line-10 3s ease-in-out infinite;
}

@keyframes line-11 {
  0%   {opacity: 0}
  90%   {opacity: 0}
  99%   {opacity: 1}
  100% {opacity: 1}
}

.line-11 {
  animation: line-11 3s ease-in-out infinite;
}

@keyframes paper {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(-15px)}
  75%  {transform: translateY(15px)}
  100% {transform: translateY(0)}
}


.paper {
  animation: paper 8s ease-in-out infinite;
}

// Thank you page

@keyframes rocket {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(-15px)}
  75%  {transform: translateY(15px)}
  100% {transform: translateY(0)}
}


.rocket {
  animation: rocket 5s ease-in-out infinite;
}

// 404 page

@keyframes bucket {
  0%   {transform: translateY(0)}
  55%  {transform: translateY(50px)}
  75%  {transform: translateY(48px)}
  100% {transform: translateY(0)}
}


.bucket {
  animation: bucket 10s ease-in-out infinite;
}