.portfolio-item {
    height: 375px;
    width: 100%;
    right: 0;
    margin: 0 0 15px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    margin-bottom: 3em !important;
    animation: pulse 1s infinite alternate;
    color: transparent;
    @media(min-width: 767px) {
            margin: 0 0 30px;
    }
}

.caption {
    position: absolute;
    z-index: 2;
    width: 100%;
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    display: flex;
}

.caption:hover {
    opacity: 1;
}

.portfolio-img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3em;
}

.portfolio-type {
    color: $white;
}

.portfolio-title {
    color: $white;
}

.portfolio-description {
    padding-top: 1em;
    font-size: 0.6em;
    color: $white;
}

.portfolio-banner {
    height: 85vh;
    width: 100%;
    animation: pulse 1s infinite alternate;
    overflow: hidden;
}

.portfolio-banner-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    color: transparent;
}