article,
.comments {
    @extend %padding-regular;
    float: left;
    width: 100%;
}

article {
    header {
        margin-bottom: 6%;
        text-align: center;
    }
    a:hover {
        @extend .body-link;
    }
    .footnotes {
        font-size: 0.9em;
    }
    ul {
        font-size: 0.8em;
    }
    ol {
        font-size: 0.8em;
        padding-left: 1em;
    }
}

footer {
    width: 100%;
    
    .meta {
        color: rgba($body-primary, .5);
        letter-spacing: 0.1em;
        display: inline;
        text-transform: uppercase;
    }
    a.button {
        margin-left: 1em;
    }
}

header {
    h1 {
        margin: 0;
    }
}

.meta {
    color: rgba($body-primary, .5);
    font-size: 0.6em;
    letter-spacing: 0.1em;
    margin: 0;
}

.excerpt {
    font-size: 0.7em;
    padding-top: 1em;
    color: $body-primary !important;
    font-weight: 300;
}

.blog-post {
    margin-bottom: 2em !important;
    background: $white;
    transition: all 0.3s;
}

.blog-post:hover {
    box-shadow: 2px 2px 8px rgba(0,0,0,0.12);
}

.blog-post-inner {
    margin: 3em;
}

.blog-img {
        animation: pulse 1s infinite alternate;
        height: 10em;
    img {
        width: 100%;
        height: 10em;
        object-fit: cover;
        padding: 0;
        color: transparent;
    }
}

.blog-author-img-croppper {
    width: 72px;
    height: 72px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 1em;
}

.blog-author-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    object-fit: cover;
    padding: 0;
}

/* --- Post navigation --- */
#post-nav {
    width: 100%;
    border-bottom: 1px solid $background;
    display: flex;
    float: left;

    a,
    .page-title {
        display: inline-block;
    }

    .page-title {
        font-size: 1.2em;
        margin-bottom: 1em;
        width: 100%;
    }

    a {
        padding: 2em 3em;
        border: 1px solid rgba(255, 255, 255, 0);
        text-align: center;
        width: 50%;
    }

    i {
        vertical-align: middle;
    }
}

.post-img {
    max-width: 60%;
    height: auto;
    padding: 1em;
}


.post-img-alt-container {
    width: 65%;
    margin: auto;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.post-img-alt {
    animation: pulse 1s infinite alternate;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}