// Typography
$font-family-main: 'Neuzeit Grotesk', 'Gill Sans', 'Century Gothic', Arial, sans-serif;
$font-family-headings: 'Neuzeit Grotesk', 'Gill Sans', 'Century Gothic', Arial, sans-serif;
$font-family-mono: 'Neuzeit Grotesk', 'Gill Sans', 'Century Gothic', Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-x-large: 20%;
$padding-large: 10%;
$padding-small: 5%;
$padding-x-small: 3%;
$padding-x-x-small: 1%;

// Brand colours
$white: #fff;

// Primary colours - uses Google material colour terminology (500,700)

$fivehundred: #009AAB;
$sevenhundred: #006B7C;

// Greys
$body-primary: #454B54;
$body-secondary: #676C74;
$neutral: #C9CACB;
$background: #EEEFF0;
$background-secondary: #F5F6F7;
$background-color: #fff;

// Misc colours
$selection-color: #009AAB; // visible when highlighting text

// Mobile display
$break: 768px;
$sm-break: 450px;